Checks: '-*,
readability-use-anyofallof,
readability-*,
-readability-magic-numbers,
-readability-redundant-control-flow,
-readability-identifier-naming,
-readability-identifier-length,
bugprone-*,
-bugprone-easily-swappable-parameters,
clang-diagnostic-*,
-clang-diagnostic-builtin-macro-redefined,
clang-analyzer-*,
misc-*,
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
