body {
    font-family: "Ricty ShinDiminished";
    /* font-family: "Arial", "BIZ UDPGothic", sans-serif; */
    line-break: strict;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

code {
    font-family: "Ricty ShinDiminished";
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

:not(pre):not(.hljs)>code {
    padding: .2em .4em;
    margin: 0;
    font-size: inherit;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193, 0.3);
    border-radius: 6px;
    color: rgb(0, 0, 0);
}

pre code {
    color: rgb(0, 0, 0);
    tab-size: 4;
}
